<template name="usersImport">
  <div class="container">
    <form action="#">
      <div class="row">
        <div class="file-field input-field">
          <input class="file-path validate" type="text"/>
          <div class="btn">
            <span>Użytkownicy</span>
            <input type="file" class="importUsers"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<template name="subjectsImport">
  <div class="container">
    <form action="#">
      <div class="row">
        <div class="file-field input-field">
          <input class="file-path validate" type="text"/>
          <div class="btn">
            <span>Przedmioty</span>
            <input type="file" class="importSubjects"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<template name="gradesImport">
  <div class="container">
    <form action="#">
      <div class="row">
        <div class="file-field input-field">
          <input class="file-path validate" type="text"/>
          <div class="btn">
            <span>Oceny</span>
            <input type="file" class="importGrades"/>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>
