<template name="login">
  <div class="container">
    <form id="login-form" action="action">
      {{#if errorMessages}}
        <div class="list-errors">
          {{#each errorMessages}}
            <div class="list-item">{{this}}</div>
          {{/each}}
            </div>
      {{/if}}
      <div class="input-field col s12 {{errorClass 'number'}}">
        <i class="mdi-action-book prefix"></i>
        <input  id="login-text" type="text" class="validate">
        <label for="login-text">Login</label>
      </div>
      <div class="input-field col s12 {{errorClass 'password'}}">
        <i class="mdi-action-lock-outline prefix"></i>
        <input id="login-password" type="password" class="validate">
        <label for="login-password">Hasło</label>
      </div>
      <button id="login-button" class="btn waves-effect waves-light light-blue darken-4" type="submit">Zaloguj
    <i class="mdi-action-done right"></i>
  </button>
    </form>
  </div>
</template>
