<template name="addSubject">
    <form>
      <table class="addSubjectHolder">
        <tr>
          <th>Subject Name</th>
          <th>Subject Leading</th>
          <th>Subject Grade</th>
        </tr>
        <tr>
          <td><input type="text" name="subjectName"></td>
          <td><input type="text" name="subjectLeading"></td>
          <td><input type="text" name="subjectGrade"></td>
          <input type="submit" value="Add new subject">
        </tr>
      </table>
    </form>
</template>
