<template name="addSubject">
  <div class="container">
    <form>
      <div class="input-field col s6">
        <i class="mdi-action-book prefix"></i>
        <input  id="subjectName" type="text" class="validate">
        <label for="subjectName">Nazwa przedmiotu</label>
      </div>
      <div class="input-field col s6">
        <select id="subjectLeading">
          {{#each teachers}}
          <option value='{{profile.title}} {{profile.firstName}} {{profile.lastName}}'>{{profile.title}} {{profile.firstName}} {{profile.lastName}}</option>
          {{/each}}
        </select>
        <label for="subjectLeading">Prowadzący</label>
      </div>
      <div class="input-field col s6">
        <select id="subjectSemester">
          <option value=""></option>
          <option selected value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
        <label>Semestr</label>
      </div>
      <button type="submit" class="btn waves-effect waves-light light-blue darken-4">Dodaj przedmiot</button>
    </form>
  </div>
</template>
