<template name="registerStudent">
<div class="container">
  <div class="row">
    <form id="register-form" action="action" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="mdi-action-account-circle prefix"></i>
          <input  id="account-firstName" type="text" class="validate">
          <label for="account-firstName">Imię</label>
        </div>
        <div class="input-field col s6">
          <i class="mdi-action-account-circle prefix"></i>
          <input id="account-lastName" type="text" class="validate">
          <label for="account-lastName">Nazwisko</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <input id="account-password" type="password" class="validate">
          <label for="account-password">Hasło</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="mdi-action-perm-identity prefix"></i>
          <input id="account-text" type="text" class="validate">
          <label for="account-text">Numer albumu</label>
        </div>
      </div>
      <button id="create-account" class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Dodaj studenta
    <i class="mdi-action-done right"></i>
  </button>
    </form>
  </div>
</div>
</template>

<template name="registerTeacher">
        <div class="container">
            <div class="input-field col s6">
              <select id="account-title">
                <option value="mgr">mgr</option>
                <option value="mgr inż.">mgr inż.</option>
                <option selected value="dr">dr</option>
                <option value="dr inż.">dr inż.</option>
                <option value="dr hab.">dr hab.</option>
                <option value="prof. UG dr">prof. UG dr</option>
                <option value="prof. UG dr hab.">prof. UG dr hab.</option>
                <option value="prof. dr hab.">prof. dr hab.</option>
              </select>
              <label>Tytuł naukowy</label>
            </div>
            <div class="row">
              <form id="register-form" action="action" class="col s12">
                <div class="row">
                  <div class="input-field col s6">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input  id="account-firstName" type="text" class="validate">
                    <label for="account-firstName">Imię</label>
                  </div>
                  <div class="input-field col s6">
                    <i class="mdi-action-account-circle prefix"></i>
                    <input id="account-lastName" type="text" class="validate">
                    <label for="account-lastName">Nazwisko</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <i class="mdi-action-lock-outline prefix"></i>
                    <input id="account-password" type="password" class="validate">
                    <label for="account-password">Hasło</label>
                  </div>
                </div>
                <button id="create-account" class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Dodaj wykładowcę
              <i class="mdi-action-done right"></i>
            </button>
              </form>
            </div>
        </div>
</template>

<template name="registerAdmin">
  <div class="container">
    <div class="row">
      <form id="register-form" action="action" class="col s12">
        <div class="row">
          <div class="input-field col s6">
            <i class="mdi-action-account-circle prefix"></i>
            <input  id="account-firstName" type="text" class="validate">
            <label for="account-firstName">Imię</label>
          </div>
          <div class="input-field col s6">
            <i class="mdi-action-account-circle prefix"></i>
            <input id="account-lastName" type="text" class="validate">
            <label for="account-lastName">Nazwisko</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="account-password" type="password" class="validate">
            <label for="account-password">Hasło</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="mdi-action-perm-identity prefix"></i>
            <input id="account-text" type="text" class="validate">
            <label for="account-text">Login</label>
          </div>
        </div>
        <button id="create-account" class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Dodaj admina
      <i class="mdi-action-done right"></i>
    </button>
      </form>
    </div>
  </div>
</template>

<template name="registerDeanery">
        <div class="container">
            <div class="row">
              <div class="input-field col s6">
                <i class="mdi-action-account-circle prefix"></i>
                <input  id="account-firstName" type="text" class="validate">
                <label for="account-firstName">Imię</label>
              </div>
              <div class="input-field col s6">
                <i class="mdi-action-account-circle prefix"></i>
                <input id="account-lastName" type="text" class="validate">
                <label for="account-lastName">Nazwisko</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-lock-outline prefix"></i>
                <input id="account-password" type="password" class="validate">
                <label for="account-password">Hasło</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="mdi-action-perm-identity prefix"></i>
                <input id="account-text" type="text" class="validate">
                <label for="account-text">Login</label>
              </div>
            </div>

            <button id="create-account" class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">Dodaj biurokratę
          <i class="mdi-action-done right"></i>
        </button>
        </div>
</template>
