<template name="register">

 <form id="register-form" action="action">
          {{#if errorMessages}}
            <div class="list-errors">
              {{#each errorMessages}}
                <div class="list-item">{{this}}</div>
              {{/each}}
            </div>
          {{/if}}

          <div class="input-symbol {{errorClass 'username'}}">
            <input type="text" id="account-text" name="username" placeholder="Your album number" />
            <span class="icon-lock" title="Your Number"></span>
          </div>

          <div class="input-symbol  {{errorClass 'email'}}">
            <input type="email" id="account-email" name="email" placeholder="Your Email" />
            <span class="icon-email" title="Your Email"></span>
          </div>

          <div class="input-symbol  {{errorClass 'password'}}">
            <input type="password" id="account-password" name="password" placeholder="Password" />
            <span class="icon-lock" title="Password"></span>
          </div>

          <button type="submit" id="create-account" class="btn-primary">Zarejestruj się</button>

        </form>
</template>
