<template name="studentDetails">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Przedmiot</th>
          <th>Prowadzący</th>
          <th>Ocena z ćwiczeń</th>
          <th>Ocena z egzaminu</th>
        </tr>
      </thead>
       <tbody>
        {{#each grade}}
        <tr>
          <td>{{subjectName}}</td>
          <td>{{subjectLeading}}</td>
          <td>{{exerciseGrade}}</td>
          <td>{{examGrade}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
