<template name="studentDetails">
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Przedmiot</th>
          <th>Prowadzący</th>
          <th>Ocena z ćwiczeń</th>
          <th>Ocena z egzaminu</th>
        </tr>
      </thead>
       <tbody>
        {{#each subjects}}
        <tr>
          <td>{{subject}}</td>
          <td>{{leading}}</td>
          <td>{{grade.exerciseGrade}}</td>
          <td>{{grade.examGrade}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
