<template name="subjectDetails">
  <div class="container">
    {{#if isInRole 'student'}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Przedmiot</th>
          <th>Prowadzący</th>
          <th>Ocena z ćwiczeń</th>
          <th>Ocena z egzaminu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{subject.subject}}</td>
          <td>{{subject.leading}}</td>
          <td>{{grades.exerciseGrade}}</td>
          <td>{{grades.examGrade}}</td>
        </tr>
      </tbody>
    </table>
    {{/if}}

    {{#if isInRole 'admin, dziekanat'}}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Przedmiot</th>
          <th>Prowadzący</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{subject.subject}}</td>
          <td>{{subject.leading}}</td>
        </tr>
      </tbody>
    </table>
    {{/if}}

    {{#if isInRole 'admin, wykładowca, dziekanat'}}
    <h3>{{subject.subject}}</h3>
    <h5>Uczestnicy</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Indeks</th>
          {{#if isInRole 'wykładowca'}}
          <th>Imię</th>
          <th>Nazwisko</th>
          {{/if}}
          <th>Ocena z ćwiczeń</th>
          <th>Ocena z egzaminu</th>
        </tr>
      </thead>
      <tbody>
        {{#if isInRole 'wykładowca'}}
        {{#each student}}
        <tr>
          <td>{{username}}</td>

          <td>{{profile.firstName}}</td>
          <td>{{profile.lastName}}</td>
          <td>
            <select id="subjectExerciseGrade_{{_id}}" class="form-control input-md">
              <option value="">-</option>
              <option selected value="2">2</option>
              <option value="3">3</option>
              <option value="3.5">3.5</option>
              <option value="4">4</option>
              <option value="4.5">4.5</option>
              <option value="5">5</option>
            </select>
          </td>
          <td>
            <button class="btn btn-primary updateExerciseGrade">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </td>
          <td>
            <select id="subjectExamGrade_{{_id}}" class="form-control input-md">
              <option value="">-</option>
              <option selected value="2">2</option>
              <option value="3">3</option>
              <option value="3.5">3.5</option>
              <option value="4">4</option>
              <option value="4.5">4.5</option>
              <option value="5">5</option>
            </select>
          </td>
          <td>
            <button class="btn btn-primary updateExamGrade">
              <span class="glyphicon glyphicon-pencil"></span>
            </button>
          </td>

        </tr>
        {{/each}}
        {{/if}}

        {{#if isInRole 'dziekanat'}}
        {{#each grade}}
        <tr>
          <td>{{studentName}}</td>
          <td>{{exerciseGrade}}</td>
          <td>{{examGrade}}</td>
        </tr>
        {{/each}}
        {{/if}}

      </tbody>
    </table>
    {{/if}}
    {{#if isInRole 'admin'}}
    <h3>Zapisz na przedmiot</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Indeks</th>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each students}}
        <tr>
          <td>{{username}}</td>
          <td>{{profile.firstName}}</td>
          <td>{{profile.lastName}}</td>
          <td>
            <button class="btn btn-primary assignSubject">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
</template>
