<template name="subjectList">
  <div class="container">
    <div class="subject-list">
      <div class="row">
        {{#if isInRole 'student, admin, wykładowca'}}
        <div class="collection with-header">
          <h5 class="collection-header">Przedmioty</h5>
          {{#if isInRole 'student, admin'}}
          {{#each mySubjects}}
          <a class="collection-item" href="/subjects/{{_id}}" style="color:#01579b">{{subject}}</a>
          {{/each}}
          {{/if}}

          {{#if isInRole 'wykładowca'}}
          {{#each teacherSubjects}}
          <a class="collection-item" href="/subjects/{{_id}}" style="color:#01579b">{{subject}}</a>
          {{/each}}
          {{/if}}
        </div>
        {{/if}}

        {{#if isInRole 'dziekanat, admin'}}
        <div class="collection with-header">
          <h5 class="collection-header">Studenci</h5>
          {{#each myStudents}}
          <a class="collection-item" href="/students/{{_id}}" style="color:#01579b">
            {{profile.lastName}} {{profile.firstName}} {{username}}</a>
          {{/each}}
        </div>
        {{/if}}

        {{#if isInRole 'dziekanat, admin'}}
        <div class="collection with-header">
          <h5 class="collection-header">Prowadzący</h5>
          {{#each myLeaders}}
          <a class="collection-item" href="/teachers/{{_id}}"
            style="color:#01579b">{{profile.title}} {{profile.lastName}}
            {{profile.firstName}}</a>
          {{/each}}
        </div>
        {{/if}}

      </div>
    </div>
  </div>
</template>
