<template name="subjectDetails">
  <div class="container">
    {{#if isInRole 'student'}}
    <table class="striped">
      <thead>
        <tr>
          <th>Przedmiot</th>
          <th>Prowadzący</th>
          <th>Ocena z ćwiczeń</th>
          <th>Ocena z egzaminu</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{subject.subject}}</td>
          <td>{{subject.leading}}</td>
          <td>{{grades.exerciseGrade}}</td>
          <td>{{grades.examGrade}}</td>
        </tr>
      </tbody>
    </table>
    {{/if}}

    {{#if isInRole 'admin, dziekanat'}}
    <table class="striped">
      <thead>
        <tr>
          <th>Przedmiot</th>
          <th>Prowadzący</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{subject.subject}}</td>
          <td>{{subject.leading}}</td>
        </tr>
      </tbody>
    </table>
    {{/if}}

    {{#if isInRole 'wykładowca, dziekanat, admin'}}
    <h3>{{subject.subject}}</h3>
    <h5>Uczestnicy</h5>
    <table class="striped">
      <thead>
        <tr>
          <th>Indeks</th>
          <th>Imię</th>
          <th>Nazwisko</th>
          {{#if isInRole 'wykładowca'}}
          <th>Ocena z ćwiczeń</th>
          <th></th>
          <th>Ocena z egzaminu</th>
          <th></th>
          {{/if}}
        </tr>
      </thead>
      <tbody>
        {{#if isInRole 'wykładowca, admin'}}
        {{#each student}}
        <tr>
          <td>{{username}}</td>

          <td>{{profile.firstName}}</td>
          <td>{{profile.lastName}}</td>
          {{#if isInRole 'wykładowca'}}
          <td>
            <div class="input-field">
              <select id="subjectExerciseGrade_{{_id}}">
                <option value="">-</option>
                <option selected value="2">2</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
                <option value="4.5">4.5</option>
                <option value="5">5</option>
              </select>
            </div>

          </td>
          <td>
            <button class="btn waves-effect waves-light light-blue darken-4 updateExerciseGrade">
              <i class="mdi-editor-mode-edit"></i>
            </button>
          </td>
          <td>
            <div class="input-field">
              <select id="subjectExamGrade_{{_id}}">
                <option value="">-</option>
                <option selected value="2">2</option>
                <option value="3">3</option>
                <option value="3.5">3.5</option>
                <option value="4">4</option>
                <option value="4.5">4.5</option>
                <option value="5">5</option>
              </select>
            </div>

          </td>
          <td>
            <button class="btn waves-effect waves-light light-blue darken-4 updateExamGrade">
              <i class="mdi-editor-mode-edit"></i>
            </button>
          </td>
        {{/if}}
        </tr>
        {{/each}}
        {{/if}}

        {{#if isInRole 'dziekanat'}}
        {{#each grade}}
        <tr>
          <td>{{studentName}}</td>
          <td>{{exerciseGrade}}</td>
          <td>{{examGrade}}</td>
        </tr>
        {{/each}}
        {{/if}}

      </tbody>
    </table>
    {{/if}}
    {{#if isInRole 'admin'}}
    <h3>Zapisz na przedmiot</h3>
    <table class="striped">
      <thead>
        <tr>
          <th>Indeks</th>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each students}}
        <tr>
          <td>{{username}}</td>
          <td>{{profile.firstName}}</td>
          <td>{{profile.lastName}}</td>
          <td>
            <a class="btn-floating btn-large waves-effect waves-light light-blue darken-4 assignSubject"><i class="material-icons">add</i></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div>
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
</template>
